body {
  background: $white;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
}

.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 88%; // Quite accurately hits the design, magically tested number
}

.wrapper {
  flex: 1 0 auto;
}
